---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="tarafi.">
<p class="instructions">
			Pick your side....
		</p>
<ul role="list" class="link-card-grid">
			<Card
				href="/side"
				title="Pick Your Side"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="/profile"
				title="Your Profile"
				body="Supercharge your project with new frameworks and libraries."
			/>
		</ul>
</Layout>


