---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SideItem from '../components/SideItem.astro';
---

<Layout title="tarafi.">
<p class="instructions">
			Your picks...
		</p>
<ul role="list">


<li>
<p class="instructions">
			Pick your side....
		</p>
	<SideItem
				href="https://docs.astro.build/"
				title="Pick Your Side"
				body="Learn how Astro works and explore the official API docs."
			/>
</li>

<li>
<p class="instructions">
			Pick your side....
		</p>
	<SideItem
				href="https://docs.astro.build/"
				title="Pick Your Side"
				body="Learn how Astro works and explore the official API docs."
			/>
</li>

		</ul>
</Layout>
