---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { sql } from "@vercel/postgres";

const likes = 1;
const { rows } = await sql`SELECT * FROM posts WHERE likes > ${likes};`;
console.log(rows)

---

<Layout title="tarafi.">
{JSON.stringify(rows, null, 2) }
<p class="instructions">
			Hangi takım?
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Galatasaray"
				body="pick"
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Fenerbahçe"
				body="profile"
			/>
		</ul>
</Layout>

