---
interface Props {
	title: string;
	body: string;
	href: string;
}
import Card from './Card.astro'
const { href, title, body } = Astro.props;
---

<p></p>
<ul class="flex">
<Card
				href="/side"
				title="Kamil Koç"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="/profile"
				title="Pamukkale"
				body="Supercharge your project with new frameworks and libraries."
			/>
</ul>